# CONTENT LIST
01. Importing Libraries
02. Importing Data
03. Checking Data
04. Merging orders data with orders_prior data
05. Export data
06. Beginning of task 6

# Part 1

# 1. Importing Libraries

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os

# 2. Importing Data

In [2]:
# Creating common folder path
path = r'C:\Users\Mukund\Desktop\Career Foundry\Instacart_Grocery_Basket_Analysis_May_2021'

In [3]:
path

'C:\\Users\\Mukund\\Desktop\\Career Foundry\\Instacart_Grocery_Basket_Analysis_May_2021'

In [4]:
# Importing updated orders data
df_ords = pd.read_csv(os.path.join(path, 'Data', 'Prepared_data', 'Orders_Checked.csv'), index_col = False)

In [5]:
# Importing orders_prior data
df_ords_prior = pd.read_csv(os.path.join(path, 'Data', 'Original_data', 'order_products__prior.csv'), index_col = False)

# 3. Checking Data

In [6]:
# Checking the records in ords dataframe
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,0.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [8]:
# Checking the records in ords_prior dataframe
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [10]:
# checking the size of ords dataframe
df_ords.shape

(3421083, 6)

In [11]:
# checking the size of ords_prior dataframe
df_ords_prior.shape

(32434489, 4)

# 4. Merging orders data with orders_prior data

In [12]:
# Merging both dataframes with order_id
df_merged_large = df_ords_prior.merge(df_ords, on = 'order_id', indicator = True)

In [13]:
df_merged_large

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,2,33120,1,1,202279,3,5,9,8.0,both
1,2,28985,2,1,202279,3,5,9,8.0,both
2,2,9327,3,0,202279,3,5,9,8.0,both
3,2,45918,4,1,202279,3,5,9,8.0,both
4,2,30035,5,0,202279,3,5,9,8.0,both
...,...,...,...,...,...,...,...,...,...,...
32434484,3421083,39678,6,1,25247,24,2,6,21.0,both
32434485,3421083,11352,7,0,25247,24,2,6,21.0,both
32434486,3421083,4600,8,0,25247,24,2,6,21.0,both
32434487,3421083,24852,9,1,25247,24,2,6,21.0,both
32434488,3421083,5020,10,1,25247,24,2,6,21.0,both

In [14]:
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int64
 3   reordered               int64
 4   user_id                 int64
 5   order_number            int64
 6   orders_day_of_week      int64
 7   order_hour_of_day       int64
 8   days_since_prior_order  float64
 9   _merge                  category
dtypes: category(1), float64(1), int64(8)
memory usage: 2.4 GB

In [15]:
df_merged_large['user_id'].unique()

array([202279, 205970, 178520, ..., 106586, 181902, 179441], dtype=int64)

In [16]:
# Converting columns to int8 due to memory issue
df_merged_large['orders_day_of_week'] = df_merged_large['orders_day_of_week'].astype('int8')

In [17]:
# Converting columns to int8 due to memory issue
df_merged_large['order_hour_of_day'] = df_merged_large['order_hour_of_day'].astype('int8')

In [18]:
# Converting columns to int8 due to memory issue
df_merged_large['reordered'] = df_merged_large['reordered'].astype('int8')

In [19]:
# Converting columns to int16 due to memory issue
df_merged_large['days_since_prior_order'] = df_merged_large['days_since_prior_order'].astype('int16')

In [20]:
# Converting columns to int16 due to memory issue
df_merged_large['add_to_cart_order'] = df_merged_large['add_to_cart_order'].astype('int16')

In [21]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged_large.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int16
 3   reordered               int8
 4   user_id                 int64
 5   order_number            int64
 6   orders_day_of_week      int8
 7   order_hour_of_day       int8
 8   days_since_prior_order  int16
 9   _merge                  category
dtypes: category(1), int16(2), int64(4), int8(3)
memory usage: 1.4 GB

# 5. Export data

In [23]:
# Exporting merged orders- order_prior data
df_merged_large.to_pickle(os.path.join(path, 'Data','Prepared_data', 'orders_products_combined.pkl'))

# Part 2

# 6. Beginning of task 6

Step 1) If you haven’t merged your prepared Instacart orders data with the new orders_products_prior dataframe per the instructions in this Exercise, do so now. >> Done above

Step 2) Export the merged file in pickle format as “orders_products_combined.pkl”. >> Done above

Step 3) In a notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [24]:
# Importing orders_products_combined dataframe
df_ords_prods_combined  = pd.read_pickle(os.path.join(path, 'Data', 'Prepared_data', 'orders_products_combined.pkl'))

In [25]:
df_ords_prods_combined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   product_id              int64
 2   add_to_cart_order       int16
 3   reordered               int8
 4   user_id                 int64
 5   order_number            int64
 6   orders_day_of_week      int8
 7   order_hour_of_day       int8
 8   days_since_prior_order  int16
 9   _merge                  category
dtypes: category(1), int16(2), int64(4), int8(3)
memory usage: 1.4 GB

In [26]:
# Checking the records in df_ords_prods_combined dataframe
df_ords_prods_combined.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,2,33120,1,1,202279,3,5,9,8,both
1,2,28985,2,1,202279,3,5,9,8,both
2,2,9327,3,0,202279,3,5,9,8,both
3,2,45918,4,1,202279,3,5,9,8,both
4,2,30035,5,0,202279,3,5,9,8,both

In [27]:
# Removing '_merge' column from ords_prods_combined dataframe
df_orders_products_combined = df_ords_prods_combined.drop(columns = ['_merge'])

Step 4) Check the shape of the imported dataframe.

In [28]:
# Checking the shape of new dataframe
df_orders_products_combined.shape

(32434489, 9)

In [29]:
# Importing cleaned and final products data
df_prods_final = pd.read_csv(os.path.join(path, 'Data', 'Prepared_data', 'Products_Checked.csv'), index_col = False)

In [30]:
# Checking the shape of final products dataframe
df_prods_final.shape

(49672, 5)

In [31]:
# Checking the records in final products dataframe
df_prods_final.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [32]:
df_prods_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

Since both the dataframes have different size in number of rows and columns, concatenating or appending can't be used. We have to use merge function for combining both dataframes. product_id is the common key/column in both dataframes.

Step 5) Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [35]:
# Merging both dataframes with product_id
df_orders_products_merged = df_prods_final.merge(df_orders_products_combined, on = 'product_id', indicator = True)

In [36]:
df_orders_products_merged.shape

(32404859, 14)

In [37]:
# Checking records from merged data
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,0,both

In [38]:
df_orders_products_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [39]:
# Exporting merged orders- order_prior data
df_orders_products_merged.to_pickle(os.path.join(path, 'Data','Prepared_data', 'Orders_Products_Merged.pkl'))

In [40]:
df_orders_products_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32404859 entries, 0 to 32404858
Data columns (total 14 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   add_to_cart_order       int16
 7   reordered               int8
 8   user_id                 int64
 9   order_number            int64
 10  orders_day_of_week      int8
 11  order_hour_of_day       int8
 12  days_since_prior_order  int16
 13  _merge                  category
dtypes: category(1), float64(1), int16(2), int64(6), int8(3), object(1)
memory usage: 2.4+ GB

In [41]:
df_orders_products_merged

,product_id,product_name,aisle_id,department_id,prices,order_id,add_to_cart_order,reordered,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,7,0,38259,2,1,11,7,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,3,1,196224,65,1,14,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,4,1,138499,8,0,14,7,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,2,0,79603,2,2,10,30,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,30,0,50005,1,1,15,0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,49688,Fresh Foaming Cleanser,73,11,13.5,3111954,3,0,79411,6,4,19,4,both
32404855,49688,Fresh Foaming Cleanser,73,11,13.5,3122003,20,0,146323,3,1,16,24,both
32404856,49688,Fresh Foaming Cleanser,73,11,13.5,3166828,5,1,188073,7,1,15,30,both
32404857,49688,Fresh Foaming Cleanser,73,11,13.5,3290206,10,0,121646,3,0,9,14,both
32404858,49688,Fresh Foaming Cleanser,73,11,13.5,3401313,5,0,200377,1,4,11,0,both